body {
    background-color: #f9ee92;
    color: #fa9f32;
    text-align: center;
}

button {
    background-color: #a5e6f0;
    height: 60px;
    width: 200px;
    font-size: 2em;
    margin-top: 8%;
}

label {
    font-size: 1.3em;
}

img {
    width: 300px;
    height: auto;
}

span {
    font-weight: bolder;
    font-size: 1.3em;
    color: #52b0be;
}

#message {
    font-size: 1.8em;
}